<h1>MorisArt - - The genuine Art</h1>

<%= image_tag("picture1.jpg", size:"700x500", class:"img-responsive work-img") %>

<%= image_tag("picture2.jpg", size:"700x500", class:"img-responsive work-img") %>

