<div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Your order has been placed.</strong> for further information please check your email.</p>
  <hr>
  <p>
    Having trouble? <%= link_to 'Contuct us', static_pages_contact_path %>
  </p>
  <p class="lead btn-primary btn-sm">
    <%= link_to 'Continue to homepage', root_path %>
  </p>
</div>