<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= link_to 'New Product', new_product_path %>


<div class="container-fluid">
	<div class="row">
	<% cache(cache_key_for_products) do %>
		<%= render @products %>
	<% end %>
	</div><!--/row-->
</div><!--/container-->




